ai testing/auto-commit.json
{
  "name": "AI Auto-Commit Test Fixes (Fixed)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Take high-confidence auto-fixes and prepare for commit\nconst fixes = $input.first().json.fixes || [];\nconst highConfidenceFixes = fixes.filter(f => f.confidence >= 0.85);\n\nif (highConfidenceFixes.length === 0) {\n  return [{ json: { action: 'skip', reason: 'No high-confidence fixes available' } }];\n}\n\n// Prepare commit data\nconst commitFiles = highConfidenceFixes.map(fix => ({\n  path: fix.file,\n  content: fix.fixedCode,\n  message: `fix(test): ${fix.fixType} - ${fix.explanation}`,\n  fixType: fix.fixType\n}));\n\nconst commitMessage = `🤖 AI Auto-fix: ${highConfidenceFixes.length} test improvements\\n\\n` +\n  highConfidenceFixes.map(f => `- ${f.fixType}: ${f.explanation}`).join('\\n') +\n  `\\n\\nGenerated by n8n AI Testing Agent`;\n\n// Extract repository info from previous nodes or use default\nconst previousData = $('Aggregate All Test Results').first()?.json || {};\nconst repository = previousData.repository || 'owner/repo'; // Fallback\n\nreturn [{\n  json: {\n    action: 'commit',\n    repository: repository,\n    owner: repository.split('/')[0],\n    repo: repository.split('/')[1],\n    baseBranch: 'main',\n    newBranch: `ai-test-fix-${Date.now()}`,\n    commitMessage,\n    files: commitFiles,\n    totalFixes: highConfidenceFixes.length\n  }\n}];"
      },
      "id": "prepare-auto-fix-commit",
      "name": "Prepare Auto-Fix Commit",
      "type": "n8n-nodes-base.code",
      "position": [200, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-commit",
              "leftValue": "={{ $json.action }}",
              "rightValue": "commit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "should-commit",
      "name": "Should Auto-Commit?",
      "type": "n8n-nodes-base.if",
      "position": [420, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/git/ref/heads/{{ $json.baseBranch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-base-branch-sha",
      "name": "Get Base Branch SHA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [640, 200],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Extract SHA from base branch and prepare for new branch creation\nconst response = $input.first().json;\nconst baseSha = response.object?.sha || response.sha;\n\nconst previousData = $('Should Auto-Commit?').first().json;\n\nreturn [{\n  json: {\n    ...previousData,\n    baseSha: baseSha\n  }\n}];"
      },
      "id": "extract-sha",
      "name": "Extract SHA",
      "type": "n8n-nodes-base.code",
      "position": [860, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/git/refs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"refs/heads/{{ $json.newBranch }}\",\n  \"sha\": \"{{ $json.baseSha }}\"\n}",
        "options": {}
      },
      "id": "create-new-branch",
      "name": "Create New Branch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1080, 200],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Prepare file update operations\nconst data = $input.first().json;\nconst previousData = $('Extract SHA').first().json;\n\n// Get files to commit\nconst files = previousData.files || [];\n\n// Return each file as a separate item for batch processing\nreturn files.map(file => ({\n  json: {\n    owner: previousData.owner,\n    repo: previousData.repo,\n    branch: previousData.newBranch,\n    filePath: file.path,\n    fileContent: Buffer.from(file.content).toString('base64'),\n    commitMessage: file.message,\n    totalFiles: files.length\n  }\n}));"
      },
      "id": "prepare-file-commits",
      "name": "Prepare File Commits",
      "type": "n8n-nodes-base.code",
      "position": [1300, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/{{ $json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.commitMessage }}\",\n  \"content\": \"{{ $json.fileContent }}\",\n  \"branch\": \"{{ $json.branch }}\"\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "commit-files",
      "name": "Commit Files to Branch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1520, 200],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Wait for all commits to complete and prepare PR creation\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { error: 'No files committed' } }];\n}\n\n// Get data from first item (all have same repo/branch info)\nconst firstItem = items[0].json;\nconst previousData = $('Extract SHA').first().json;\n\nreturn [{\n  json: {\n    owner: firstItem.owner,\n    repo: firstItem.repo,\n    newBranch: firstItem.branch,\n    baseBranch: previousData.baseBranch || 'main',\n    totalFixes: previousData.totalFixes,\n    commitMessage: previousData.commitMessage,\n    filesCommitted: items.length\n  }\n}];"
      },
      "id": "aggregate-commits",
      "name": "Aggregate Commits",
      "type": "n8n-nodes-base.code",
      "position": [1740, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/pulls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"🤖 AI Test Auto-Fix: {{ $json.totalFixes }} improvements\",\n  \"head\": \"{{ $json.newBranch }}\",\n  \"base\": \"{{ $json.baseBranch }}\",\n  \"body\": \"## 🤖 AI-Generated Test Fixes\\n\\nThis PR contains **{{ $json.totalFixes }}** automatically generated test code fixes.\\n\\n### Files Modified\\n{{ $json.filesCommitted }} test files updated\\n\\n### Changes\\n{{ $json.commitMessage }}\\n\\n---\\n\\n✨ *Generated by n8n AI Testing Agent*\\n⚡ *High confidence fixes only (>85%)*\\n\\n**Review carefully before merging!**\"\n}",
        "options": {}
      },
      "id": "create-pull-request",
      "name": "Create Pull Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1960, 200],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Parse PR creation response and prepare notification\nconst prResponse = $input.first().json;\n\nconst prUrl = prResponse.html_url || '';\nconst prNumber = prResponse.number || 0;\n\nreturn [{\n  json: {\n    success: true,\n    prUrl: prUrl,\n    prNumber: prNumber,\n    message: `✅ Successfully created PR #${prNumber} with AI-generated test fixes!`\n  }\n}];"
      },
      "id": "parse-pr-response",
      "name": "Parse PR Response",
      "type": "n8n-nodes-base.code",
      "position": [2180, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramBotToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $credentials.telegramChatId }}\",\n  \"text\": \"🤖 *AI Auto-Fix PR Created*\\n\\n✅ {{ $json.message }}\\n\\n🔗 [View Pull Request]({{ $json.prUrl }})\\n\\n📝 PR #{{ $json.prNumber }}\",\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": false\n}",
        "options": {}
      },
      "id": "notify-telegram",
      "name": "Notify via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2400, 200],
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "Prepare Auto-Fix Commit": {
      "main": [[{ "node": "Should Auto-Commit?", "type": "main", "index": 0 }]]
    },
    "Should Auto-Commit?": {
      "main": [
        [{ "node": "Get Base Branch SHA", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Base Branch SHA": {
      "main": [[{ "node": "Extract SHA", "type": "main", "index": 0 }]]
    },
    "Extract SHA": {
      "main": [[{ "node": "Create New Branch", "type": "main", "index": 0 }]]
    },
    "Create New Branch": {
      "main": [[{ "node": "Prepare File Commits", "type": "main", "index": 0 }]]
    },
    "Prepare File Commits": {
      "main": [[{ "node": "Commit Files to Branch", "type": "main", "index": 0 }]]
    },
    "Commit Files to Branch": {
      "main": [[{ "node": "Aggregate Commits", "type": "main", "index": 0 }]]
    },
    "Aggregate Commits": {
      "main": [[{ "node": "Create Pull Request", "type": "main", "index": 0 }]]
    },
    "Create Pull Request": {
      "main": [[{ "node": "Parse PR Response", "type": "main", "index": 0 }]]
    },
    "Parse PR Response": {
      "main": [[{ "node": "Notify via Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}