ai testing/nfr.json
{
  "name": "NFR Test AI Agent Pipeline (HTTP)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a performance/NFR testing expert AI agent. Your responsibilities:\\n\\n1. ANALYZE existing NFR test scripts (k6, JMeter, Gatling, Artillery)\\n2. DETECT issues:\\n   - Unrealistic load profiles\\n   - Missing think times\\n   - Incorrect ramp-up patterns\\n   - Missing SLA/threshold definitions\\n   - Insufficient metrics collection\\n   - Missing correlation for dynamic data\\n\\n3. GENERATE optimized test configurations for:\\n   - LOAD TEST: Steady-state performance under expected load\\n   - STRESS TEST: Find breaking point with gradually increasing load\\n   - SPIKE TEST: Sudden burst of traffic\\n   - ENDURANCE/SOAK TEST: Extended duration for memory leaks\\n   - BREAKPOINT TEST: Find maximum capacity\\n\\n4. DEFINE proper thresholds and SLAs\\n\\nReturn JSON:\\n{\\n  \\\"analysis\\\": {\\\"issues\\\": [{\\\"type\\\": string, \\\"description\\\": string, \\\"fix\\\": string}]},\\n  \\\"loadTestConfig\\\": {\\\"script\\\": string, \\\"vus\\\": number, \\\"duration\\\": string, \\\"thresholds\\\": object},\\n  \\\"stressTestConfig\\\": {\\\"script\\\": string, \\\"stages\\\": array, \\\"thresholds\\\": object},\\n  \\\"spikeTestConfig\\\": {\\\"script\\\": string, \\\"stages\\\": array, \\\"thresholds\\\": object},\\n  \\\"enduranceTestConfig\\\": {\\\"script\\\": string, \\\"vus\\\": number, \\\"duration\\\": string, \\\"thresholds\\\": object},\\n  \\\"breakpointTestConfig\\\": {\\\"script\\\": string, \\\"stages\\\": array},\\n  \\\"customMetrics\\\": [{\\\"name\\\": string, \\\"type\\\": string, \\\"description\\\": string}],\\n  \\\"slaDefinitions\\\": [{\\\"metric\\\": string, \\\"threshold\\\": string, \\\"rationale\\\": string}]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these NFR test files and generate optimized configurations:\\n\\nFiles: {{ JSON.stringify($json.classification.nfrTests) }}\\n\\nCode:\\n```\\n{{ $json.testCode }}\\n```\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4000\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "nfr-test-ai-agent-http",
      "name": "NFR Test AI Agent (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [200, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI API response for NFR test analysis\nconst response = $input.first().json;\n\n// Extract the message content from OpenAI response structure\nconst aiContent = response.choices?.[0]?.message?.content || '{}';\n\nlet aiAnalysis = {};\ntry {\n  // Try to parse JSON from the response\n  const jsonMatch = aiContent.match(/```json\\n?([\\s\\S]*?)\\n?```/) || \n                    aiContent.match(/\\{[\\s\\S]*\\}/);\n  aiAnalysis = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : aiContent);\n} catch (e) {\n  aiAnalysis = {\n    analysis: { issues: [] },\n    loadTestConfig: {},\n    stressTestConfig: {},\n    spikeTestConfig: {},\n    enduranceTestConfig: {},\n    breakpointTestConfig: {},\n    customMetrics: [],\n    slaDefinitions: [],\n    parseError: e.message,\n    rawContent: aiContent\n  };\n}\n\nreturn [{\n  json: {\n    aiAnalysis,\n    tokensUsed: response.usage?.total_tokens || 0,\n    phase: 'nfr-ai-analysis-complete'\n  }\n}];"
      },
      "id": "parse-nfr-ai-response",
      "name": "Parse NFR AI Response",
      "type": "n8n-nodes-base.code",
      "position": [420, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Generate k6 test scripts for all NFR test types\nconst aiAnalysisData = $input.first().json;\nconst aiAnalysis = aiAnalysisData.aiAnalysis || {};\n\n// Load Test Script\nconst loadTestScript = `\nimport http from 'k6/http';\nimport { check, sleep } from 'k6';\nimport { Rate, Trend, Counter } from 'k6/metrics';\n\n// Custom metrics\nconst errorRate = new Rate('errors');\nconst responseTime = new Trend('response_time');\nconst requestCount = new Counter('request_count');\n\nexport const options = {\n  scenarios: {\n    load_test: {\n      executor: 'constant-vus',\n      vus: ${aiAnalysis.loadTestConfig?.vus || 50},\n      duration: '${aiAnalysis.loadTestConfig?.duration || '5m'}',\n    },\n  },\n  thresholds: {\n    http_req_duration: ['p(95)<500', 'p(99)<1000'],\n    http_req_failed: ['rate<0.05'],\n    errors: ['rate<0.1'],\n    http_reqs: ['rate>100'],\n  },\n};\n\nexport default function () {\n  const res = http.get('http://localhost:3000/api/health');\n  check(res, {\n    'status is 200': (r) => r.status === 200,\n    'response time < 500ms': (r) => r.timings.duration < 500,\n  });\n  errorRate.add(res.status !== 200);\n  responseTime.add(res.timings.duration);\n  requestCount.add(1);\n  sleep(1);\n}\n`;\n\n// Stress Test Script  \nconst stressTestScript = `\nimport http from 'k6/http';\nimport { check, sleep } from 'k6';\nimport { Rate, Trend } from 'k6/metrics';\n\nconst errorRate = new Rate('errors');\n\nexport const options = {\n  scenarios: {\n    stress_test: {\n      executor: 'ramping-vus',\n      startVUs: 0,\n      stages: [\n        { duration: '2m', target: 50 },   // Ramp up to normal load\n        { duration: '5m', target: 50 },   // Stay at normal load\n        { duration: '2m', target: 100 },  // Ramp up to high load\n        { duration: '5m', target: 100 },  // Stay at high load\n        { duration: '2m', target: 200 },  // Ramp up to stress load\n        { duration: '5m', target: 200 },  // Stay at stress load\n        { duration: '2m', target: 300 },  // Ramp up to breaking point\n        { duration: '5m', target: 300 },  // Stay at breaking point\n        { duration: '5m', target: 0 },    // Ramp down\n      ],\n    },\n  },\n  thresholds: {\n    http_req_duration: ['p(95)<1000'],\n    http_req_failed: ['rate<0.1'],\n    errors: ['rate<0.15'],\n  },\n};\n\nexport default function () {\n  const res = http.get('http://localhost:3000/api/health');\n  check(res, {\n    'status is 200': (r) => r.status === 200,\n    'response time < 1000ms': (r) => r.timings.duration < 1000,\n  });\n  errorRate.add(res.status !== 200);\n  sleep(0.5);\n}\n`;\n\n// Spike Test Script\nconst spikeTestScript = `\nimport http from 'k6/http';\nimport { check, sleep } from 'k6';\nimport { Rate } from 'k6/metrics';\n\nconst errorRate = new Rate('errors');\n\nexport const options = {\n  scenarios: {\n    spike_test: {\n      executor: 'ramping-vus',\n      startVUs: 0,\n      stages: [\n        { duration: '1m', target: 10 },    // Normal load\n        { duration: '30s', target: 500 },   // Spike!\n        { duration: '1m', target: 500 },    // Stay at spike\n        { duration: '30s', target: 10 },    // Recovery\n        { duration: '2m', target: 10 },     // Monitor recovery\n        { duration: '30s', target: 500 },   // Second spike\n        { duration: '1m', target: 500 },    // Stay at spike\n        { duration: '1m', target: 0 },      // Ramp down\n      ],\n    },\n  },\n  thresholds: {\n    http_req_duration: ['p(95)<2000'],\n    http_req_failed: ['rate<0.15'],\n  },\n};\n\nexport default function () {\n  const res = http.get('http://localhost:3000/api/health');\n  check(res, {\n    'status is 200': (r) => r.status === 200,\n  });\n  errorRate.add(res.status !== 200);\n  sleep(0.3);\n}\n`;\n\n// Endurance/Soak Test Script\nconst enduranceTestScript = `\nimport http from 'k6/http';\nimport { check, sleep } from 'k6';\nimport { Rate, Trend, Gauge } from 'k6/metrics';\n\nconst errorRate = new Rate('errors');\nconst memoryUsage = new Gauge('memory_usage_trend');\n\nexport const options = {\n  scenarios: {\n    endurance_test: {\n      executor: 'constant-vus',\n      vus: ${aiAnalysis.enduranceTestConfig?.vus || 30},\n      duration: '${aiAnalysis.enduranceTestConfig?.duration || '30m'}', // Extended duration for soak testing\n    },\n  },\n  thresholds: {\n    http_req_duration: ['p(95)<800', 'p(99)<1500'],\n    http_req_failed: ['rate<0.05'],\n    errors: ['rate<0.05'],\n  },\n};\n\nexport default function () {\n  const res = http.get('http://localhost:3000/api/health');\n  check(res, {\n    'status is 200': (r) => r.status === 200,\n    'response time stable': (r) => r.timings.duration < 800,\n    'no memory leak indicators': (r) => r.timings.duration < 1500,\n  });\n  errorRate.add(res.status !== 200);\n  sleep(1);\n}\n`;\n\nreturn [{\n  json: {\n    ...aiAnalysisData,\n    scripts: {\n      loadTest: loadTestScript,\n      stressTest: stressTestScript,\n      spikeTest: spikeTestScript,\n      enduranceTest: enduranceTestScript\n    },\n    executionOrder: ['loadTest', 'spikeTest', 'stressTest'],\n    phase: 'nfr-scripts-generated'\n  }\n}];"
      },
      "id": "generate-nfr-scripts",
      "name": "Generate NFR Test Scripts",
      "type": "n8n-nodes-base.code",
      "position": [640, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-ci-server:8080/api/trigger-nfr-tests",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "testType",
              "value": "load"
            },
            {
              "name": "script",
              "value": "={{ $json.scripts.loadTest }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-load-test",
      "name": "Execute Load Test",
      "type": "n8n-nodes-base.httpRequest",
      "position": [860, 150],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-ci-server:8080/api/trigger-nfr-tests",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "testType",
              "value": "stress"
            },
            {
              "name": "script",
              "value": "={{ $json.scripts.stressTest }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-stress-test",
      "name": "Execute Stress Test",
      "type": "n8n-nodes-base.httpRequest",
      "position": [860, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-ci-server:8080/api/trigger-nfr-tests",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "testType",
              "value": "spike"
            },
            {
              "name": "script",
              "value": "={{ $json.scripts.spikeTest }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-spike-test",
      "name": "Execute Spike Test",
      "type": "n8n-nodes-base.httpRequest",
      "position": [860, 450],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Aggregate test results from all NFR test executions\nconst loadTestResult = $('Execute Load Test').first()?.json || {};\nconst stressTestResult = $('Execute Stress Test').first()?.json || {};\nconst spikeTestResult = $('Execute Spike Test').first()?.json || {};\n\nreturn [{\n  json: {\n    loadTestResults: loadTestResult,\n    stressTestResults: stressTestResult,\n    spikeTestResults: spikeTestResult,\n    aggregatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "aggregate-nfr-results",
      "name": "Aggregate NFR Test Results",
      "type": "n8n-nodes-base.code",
      "position": [1080, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a performance engineering expert. Analyze NFR test results and provide:\\n\\n1. PERFORMANCE ANALYSIS:\\n   - Response time distribution analysis\\n   - Throughput patterns\\n   - Error rate correlation with load\\n   - Resource utilization patterns\\n\\n2. BOTTLENECK IDENTIFICATION:\\n   - Network bottlenecks\\n   - Application bottlenecks\\n   - Database bottlenecks\\n   - Infrastructure limits\\n\\n3. SLA COMPLIANCE:\\n   - Which SLAs passed/failed\\n   - Margin analysis\\n   - Trend analysis\\n\\n4. RECOMMENDATIONS:\\n   - Test script improvements\\n   - Additional scenarios to test\\n   - Threshold adjustments\\n   - Monitoring suggestions\\n\\nReturn comprehensive JSON analysis.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"NFR Test Results:\\n\\nLoad Test: {{ JSON.stringify($json.loadTestResults) }}\\nStress Test: {{ JSON.stringify($json.stressTestResults) }}\\nSpike Test: {{ JSON.stringify($json.spikeTestResults) }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4000\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ai-nfr-performance-analysis-http",
      "name": "AI NFR Performance Analysis (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1300, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI API response for NFR performance analysis\nconst response = $input.first().json;\n\n// Extract the message content from OpenAI response structure\nconst analysisContent = response.choices?.[0]?.message?.content || '{}';\n\nlet performanceAnalysis = {};\ntry {\n  // Try to parse JSON from the response\n  const jsonMatch = analysisContent.match(/```json\\n?([\\s\\S]*?)\\n?```/) || \n                    analysisContent.match(/\\{[\\s\\S]*\\}/);\n  performanceAnalysis = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : analysisContent);\n} catch (e) {\n  // If parsing fails, structure the raw content\n  performanceAnalysis = {\n    performanceAnalysis: {},\n    bottleneckIdentification: {},\n    slaCompliance: {},\n    recommendations: [],\n    parseError: e.message,\n    rawAnalysis: analysisContent\n  };\n}\n\n// Get aggregated test results\nconst testResults = $('Aggregate NFR Test Results').first().json;\n\nreturn [{\n  json: {\n    ...testResults,\n    aiPerformanceAnalysis: performanceAnalysis,\n    tokensUsed: response.usage?.total_tokens || 0,\n    analysisComplete: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-performance-analysis",
      "name": "Parse Performance Analysis",
      "type": "n8n-nodes-base.code",
      "position": [1520, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramBotToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $credentials.telegramChatId }}\",\n  \"text\": \"🚀 *NFR Test Analysis Complete*\\n\\n📊 *Test Results:*\\n• Load Test: {{ $json.loadTestResults.status || 'Completed' }}\\n• Stress Test: {{ $json.stressTestResults.status || 'Completed' }}\\n• Spike Test: {{ $json.spikeTestResults.status || 'Completed' }}\\n\\n🤖 *AI Analysis:*\\n{{ JSON.stringify($json.aiPerformanceAnalysis, null, 2).substring(0, 500) }}...\\n\\n⏱️ Completed at: {{ $json.timestamp }}\",\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": true\n}",
        "options": {}
      },
      "id": "notify-telegram-nfr",
      "name": "Notify NFR Results via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1740, 300],
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "NFR Test AI Agent (HTTP)": {
      "main": [[{ "node": "Parse NFR AI Response", "type": "main", "index": 0 }]]
    },
    "Parse NFR AI Response": {
      "main": [[{ "node": "Generate NFR Test Scripts", "type": "main", "index": 0 }]]
    },
    "Generate NFR Test Scripts": {
      "main": [
        [
          { "node": "Execute Load Test", "type": "main", "index": 0 },
          { "node": "Execute Stress Test", "type": "main", "index": 0 },
          { "node": "Execute Spike Test", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute Load Test": {
      "main": [[{ "node": "Aggregate NFR Test Results", "type": "main", "index": 0 }]]
    },
    "Execute Stress Test": {
      "main": [[{ "node": "Aggregate NFR Test Results", "type": "main", "index": 0 }]]
    },
    "Execute Spike Test": {
      "main": [[{ "node": "Aggregate NFR Test Results", "type": "main", "index": 0 }]]
    },
    "Aggregate NFR Test Results": {
      "main": [[{ "node": "AI NFR Performance Analysis (HTTP)", "type": "main", "index": 0 }]]
    },
    "AI NFR Performance Analysis (HTTP)": {
      "main": [[{ "node": "Parse Performance Analysis", "type": "main", "index": 0 }]]
    },
    "Parse Performance Analysis": {
      "main": [[{ "node": "Notify NFR Results via Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}